body {
    background-color: rgb(255, 220, 180);
}

.bg-header, .bg-footer {
    background-color: rgb(201, 146, 82);
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #333;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center; /* Poravnava sadržaj unutar .nav-link po vertikali */
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(201, 146, 82);
    background-color: rgb(246, 204, 155);
}

.item .image-container {
    width: 20em; /* Set a fixed width */
    height: 20em; /* Set a fixed height */
    overflow: hidden; /* Hide overflow to keep images within bounds */
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .image-container img {
    width: 100%;
    height: auto;
}

.item .basic-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.item .basic-information .product-name {
    font-size: 2.2rem;
    margin-bottom: 10px;
    margin-top: 0;
}
.item .basic-information .product-price {
    font-size: 1.6rem;
    color: #6a6a6a;
    margin-bottom: 0;
}

.item .buttons {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
}
.item .buttons .details-btn,
.item .buttons .add-to-cart-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-block {
    border-color: rgb(201, 146, 82);
    background-color: rgb(201, 146, 82);
    color: #fff;
}

.btn-block:hover {
    border-color: rgb(197, 135, 64);
    background-color: rgb(197, 135, 64);
    color: #fff;
}

.btn-block:focus {
    box-shadow: 0 0 0 0.2rem rgba(197, 135, 64, 0.5);
}

.cart-column {
    padding: 1rem;
}

.remove-btn {
    flex: 0 0 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.buy-btn {
    height: 4rem;
    font-size: 1.4rem;
    padding: 1rem;
}

.cart-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: gray;
    justify-content: space-between;
    background-color: rgb(246, 204, 155);
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: center;
    }
    .item .buttons {
        margin-right: 0;
    }
    .item .basic-information {
        margin-left: 0;
        display: flex;
        align-items: center;
    }
    .item .basic-information .product-name {
        font-size: 2.2rem;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .item .basic-information .product-price {
        font-size: 1.6rem;
        color: #6a6a6a;
        margin-bottom: 0;
    }
}